.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  border-right: 1px var(--line-color) solid;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--btn-color);
  mix-blend-mode: difference;
}

@media (max-width: 767px) {
  .header {
    width: 40px;
  }
  .headerBox {
    height: 40px;
  }
}
