.side {
  min-height: 100vh;
  border-right: 1px #000 solid;
  padding: 10px;
}

.sideBody li {
  width: 100%;
  font-size: 16px;
  margin-bottom: 10px;
}

.sideBody li:nth-of-type(1) {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .side {
    width: 100%;
    min-height: auto;
  }
  .sideBody {
    margin-bottom: 24px;
  }
  .sideBody li {
    display: inline;
    margin-right: 10px;
  }

  .sideBody li:nth-of-type(1) {
    display: block;
  }
}
