.container {
  width: calc(100% - 50px);
  min-height: 100vh;
  margin-left: auto;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
}

.containerRight {
  width: 90%;
  min-height: 100vh;
  padding: 10px;
}

.containerTitle {
  font-size: 48px;
  margin-bottom: 10px;
}

.containerSub {
  font-size: 96px;
}

.containerCards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  position: relative;
}
.containerCards::after {
  content: "";
  width: 33%;
}

.card {
  width: 33%;
  border: 1px solid;
  padding-top: 22%;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 40px);
  }
  .containerFlex {
    flex-direction: column;
  }
  .containerRight {
    width: 100%;
    padding: 10px;
  }
  .containerCards {
    padding-top: 20px;
  }
  .containerTitle {
    font-size: 24px;
  }
  .containerSub {
    font-size: 50px;
  }
  .card {
    width: 49%;
    padding-top: 30%;
    margin-bottom: 6px;
  }
}
